footer{
  
    height: 200px;
    background-image: linear-gradient(to left, #bebebe, #bdb3d4, #c2a5e6, #cd94f3, #de7efa, #e181fc, #e584fd, #e887ff, #dea4ff, #dabcfc, #dcd2f3, #e5e5e5);
    padding: 0px 160px 0px 160px;
    
}
.principal{
   display: flex;
   margin: 0;
   padding: 0;
   justify-content: space-between;
}  
   

.email{
    height: 25px;
    width: 25px;
}
.local{
    height: 25px;
    width: 25px;
    
}
.informations{
    padding-top: 1rem;
    display: flex;
    font-size: 14px;
}
.informations p{
    margin-top: 7px;
    margin-left: 15px;
}

.informations img{
    
   margin-left:10px;
}

.informations2{
    padding-top: 1rem;
    display: flex;
    font-size: 14px;
}
.informations2 p{
    
    margin-top: 7px;
    margin-left: 15px;
}

.informations2 img{
    
   margin-left:10px;
}
.redes{
    height: 30px;
    width: 30px;
}
.logos{
    display: flex;
    margin-top: 1rem;
    gap: 2rem;
    flex-direction: column;
}
.logo{
    width: 210px;
    height: 50px;
   
}


.social{
    display: flex;
    margin-top: 4rem;
    display: flex;
   
    gap: 2rem;
    
}
.social img{
    transition: all 0.5s;
}

.social img:hover{
    transform: scale(1.2);
}

