header{
    padding: 0px 320px 0px 320px;
    background-color: rgba(255, 255, 255, 0.710);
    height: 184px;
    display: flex;
    justify-content: space-between;
    }
    .links-container{
        display: flex;
        gap: 29px;
        font-family: 'Open Sans', sans-serif;
        font-weight: 800;
        font-size: 16pt;
        padding: 62px;
    }
    .links-container a:hover{
        text-shadow: 2px 2px 2px #5c5c5c;
        color: rgb(255, 123, 178);
        
    }
    .links-container a{
        transition: all 0.5s;
    }
    .whats img{
        display: flex;
        margin-top: 40px;
        transition: all 0.5s;
   }
   .whats img:hover{
    transform: scale(1.2);
   }