header{
    padding: 0px 320px 0px 320px;
    background-color: rgba(255, 255, 255, 0.710);
    height: 120px;
    display: flex;
    justify-content: space-between;
    }

    @-webkit-keyframes floating {
    0%, 100% {
        -webkit-transform: translateY(0rem);
        transform: translateY(0rem);
    }

    50% {
        -webkit-transform: translateY(-0.5rem);
        transform: translateY(-0-0.5rem);
    }
}
    .links-container{
        align-items: center;
        display: flex;
        gap: 35px;
        font-family: 'Open Sans', sans-serif;
        font-weight: 800;
        font-size: 14pt;
        margin-top: 2rem;
    }
    .links-container a:hover{
        text-shadow: 2px 2px 2px #5c5c5c;
        color: rgb(255, 123, 178);
        
    }
    .links-container a{
        transition: all 0.5s;
    }
    .whats img{
        height: 3rem;
        display: flex;
        -webkit-animation: floating 4s linear infinite;
        animation: floating 1.3s linear infinite;
        transition: all 0.5s;
        
              
   }
   .whats img:hover{
    transform: scale(1.2);
   }
   .logo{
    margin-top:1rem;
    display: flex;
    height: 90px;
   
   }