@media screen and (max-width:768px){
header{
    width: 100vw;
    padding: 0px 15px 0px 15px;
    background-color: rgba(255, 255, 255, 0.710);
    height: 75px;
    display: flex;
   justify-content: space-between;
   justify-content: ;
    position: fixed;
    z-index: 9999;

}
.links-container {
    display: none;
}
.whatsr .whatsresponse{
display: flex;
margin-top: 1.5rem;
margin-right: 2rem;
width: 2rem;
height: 2rem;
-webkit-animation: floating 5s linear infinite;
animation: floating 1.3s linear infinite;
transition: all 1s;
}
.whatsr img:hover {
    transform: scale(3);
}
.fixo{
    font-family: 'Open Sans', sans-serif;
    font-size: 9pt;
    font-weight: 800;
    color:#22668C;
}
.contato{
 
    display: flex;
    margin-top: 2rem;
    flex-direction: row;
    
    }
img.logo {
    margin-left: 15px;
   width: 150px;
    
    
    
    }


main{
    padding: 0px 15px 0px 15px;
    width: 100%;
}
body{
    padding: 0px;
   
}
/* ################################ */
.first{
    width: auto;
   
}
.content-container{
    align-items: center;
    width: 100vh;
    padding:0px;
}
.content-container h1{
    text-align: center;
    padding-top:32rem;
    font-size:2rem;
}
.content-container span{
    font-size: 1.2rem;
    
}

/* ################################ */
.sobre-nos{
    width: 100%;
    background-image: linear-gradient(to right top, #22668c, #35729d, #477eae, #598bbf, #6c97d0, #6ca4de, #6bb1eb, #69bff8, #52cffe, #41dfff, #46eefa, #5ffbf1);
    align-items: center;
    padding: 0px;
  
}
.sobre-nos h1 {
    font-size: 2rem;
    padding: 0px 40px 0px 40px;
    margin-top: 0.3rem;
}

.sobre-nos p {
    font-size: 1.5rem;
    max-width: 300px;
    width: 100vh;
    text-align: center;
    padding: 20px 40px 40px 40px;
}

/* ################################ */
.unidade {
    width: 100vw;
    align-items: center;
    padding: 0px;
}
.unidade h1 {
    font-size: 2rem;
}
.unidade p {
    font-size: 1rem;
}
.wrapper{
    max-width: 300px;
        width: auto;
        position: relative;
     }
     .wrapper i:first-child{
    left: -30px;
}
.carousel .card{
 height: 360px;
}
.card .img img{
    width: 290px;
    height:290px;
}
.wrapper i:last-child{
    right: -22px;
}
.wrapper i{
    height: 35px;
    width: 35px;
    line-height: 41px;
}

/* ################################ */
.servicos{
    margin:0px;
    padding:0;
    justify-content: center;
    align-items: center;
    width: auto;
    flex-direction: column;
      
}

 .lista-servicos{
  margin: 0;
  padding:0;
  line-height: 35px;
   
 }
.lista-servicos h1{
    font-size: 2rem;
}
.lista-servicos p{
    margin-top: 10px;
    justify-items: center;
    font-size: 1.5rem;
    padding: 0;
}
 .imgServicos {
   
    width: 100vw;
    padding: 0;
    margin: 0;
    margin-top: 50px;
    margin-left: 120px;
    flex-direction: row;
    gap: 15px;
 }
 .icone{
    
    height: 50px;
    width: 50px;
}
/* ################################ */
.atividades{
    width: auto;
    margin:0px;
    padding:0;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
 .lista-atividades{
  margin: 0;
  padding:0;
  line-height: 35px;
   
 }

.atividades h1{
    font-size: 2rem;
}
.atividades p{
    justify-items: center;
    font-size: 1.3rem;
    padding: 0;
}
.imgAtividades {
    width: 100vw;
    padding: 0;
    margin: 0;
    margin-top: 50px;
    margin-left:100px;
    flex-direction: row;
    gap: 15px;

}
.atv{
    height:50px;
    width: 60px;
}

/* ################################ */
footer{
    width: auto;
    margin:0px;
    padding:0;
}
.redes{
    height: 20px;
    width: 20px;
}
.social{
    margin-top: 2rem;
    margin-right: 2rem;
    gap: 1rem;
}
.logo1{
   width: 150px;
    margin-left: 1rem;
    margin-top: 0.5rem;
    
}
.informations p{
    margin: 0;
    margin-left: 10px;
}
.informations img{
    margin: 0;
    margin-left: 20px;
}
.informations2 p{
    margin: 0;
    margin-left: 10px;
    padding: 0;
    font-size: 12px;
}
.informations2 img{
    margin: 0;
    margin-left: 20px;
}

.container2{
    max-width: 100%;
    margin:0px;
    padding:0;
    justify-content: center;
    align-items: center;
   
}
 .container2 h1{
      
        
    font-size: 2.5rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    }
 .container2 .video-container p {
        display: none;
 }
 .container2 .video-container .video {
        max-width: 100%; 

}
 .container2 .video-container {
        margin-left: auto; 
        margin-right: auto;
        flex-direction: column;
        align-items: center; 
      
    }
.container2 .video-container .video {
        max-width: 100%; 
        margin-bottom: 1rem; 
    }
}