@media screen and (max-width:768px){
header{
    display: none;
    }
main{
   
    padding: 0px 20px 0px 20px;
    width: 100%;
     
    
}
body{
    padding: 0px;
   
}
/* ################################ */
.first{
    width: auto;
   
}
.content-container{
    align-items: center;
    width: 100vh;
    padding:0px;
}
.content-container h1{
    text-align: center;
    padding-top:37rem;
    font-size:4rem;
}
.content-container span{
    font-size: 2rem;
}

/* ################################ */
.sobre-nos{
    padding: 0px;
    width: 100vh;
}
.sobre-nos h1 {
    font-size: 2rem;
    padding: 0px 40px 0px 40px;
    margin-top: 0.8rem;
}

.sobre-nos p {
    font-size: 1.7rem;
     width: 50vh;
    padding: 0px 40px 0px 40px;
}

/* ################################ */
.unidade {
     width: auto;
}
/* ################################ */
.servicos{
    display: none;
}
/* ################################ */
.atividades{
    display: none;
}
/* ################################ */
footer{
    display: none;
}
}