body{
    height: 100vh;
    background: linear-gradient(90deg, #ffffff96  , hsla(0, 0%, 100%, 0)), url(../img/background1.png);
    background-size: cover;
    display: flex;
    flex-direction: column;
    padding: 0px 320px 0px 320px;
    
}
header{
    background-color: rgba(255, 255, 255, 0.710);
    height: 184px;
    display: flex;
    justify-content: space-between;
    }
    .links-container{
        display: flex;
        gap: 29px;
        font-family: 'Open Sans', sans-serif;
    }
    .links-container a:hover{
    background-color: aqua;
    }
main{
    background-color: tomato;
    flex-grow: 1;
}
footer{
    background-color: violet;
    flex-grow: 1;
}